
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #4572b6;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

#cuenta {
  font-size: 5em;
  text-align: center;
  margin: 1em;
}

/* Popup container 
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) *
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 9999999999999;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow *
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) *
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) *
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}*/

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  background: #fff url("../images/preloader5.gif") no-repeat center center;
 
}

#preloader:before { 

  position: fixed;
  
  left: 0;
  right: 0;
  bottom: 190px;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  content: "Cargando..." ;
  color: rgb(0, 0, 0); 

}

/*atras*/
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 20, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 20, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #4572b6;
  color: #fff;
}

/*principal*/
#inicio {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../images/escuela/baner1.jpg) top center fixed;
  background-size: cover;
}

#inicio .inicio-logo {
  margin: 20px;
}

#inicio .inicio-logo img {
  max-width: 100%;
}

#inicio .inicio-container {
  background: rgba(0, 0, 20, 0.8);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#inicio h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #inicio h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#inicio h2 {
  color: #999;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #inicio h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #inicio h2 .rotating {
    display: block;
  }
}

#inicio .rotating > .animated {
  display: inline-block;
}

#inicio .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#inicio .btn-get-started {
  background: #4572b6;
  border: 2px solid #4572b6;
  color: #fff;
}

#inicio .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#inicio .btn-services {
  border: 2px solid #fff;
  color: #fff;
}

#inicio .btn-services:hover {
  background: #4572b6;
  border: 2px solid #4572b6;
}

/*Header*/
#header {
  background: rgba(0, 0, 20, 0.85);
  padding: 20px 0;
  height: 90px;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.is-sticky #header {
  background: rgba(0, 0, 20, 0.85);
}


/* Nav */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav*/
#nav-menu-container {
  float: right;
  margin: 5px 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav*/
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #4572b6;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #f6f6f6;
}

.nav-menu ul li a {
  color: #333;
}

.nav-menu ul ul {
  margin: 0;
}

/* celular */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* celular*/
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #4572b6;
}

#mobile-nav ul .menu-item-active {
  color: #fff;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* celular */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}


/*Sec*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #4572b6;
  margin: 0 auto;
  margin-bottom: 20px;
}

/*-------------------------*/
#nos {
  background: #fff;
  padding: 80px 0;
}

#nos2 {
  background: #fff;
  padding: 10px 0;
}

#nos .nos-container {
  background: url(../images/escuela/baner14.png) left top no-repeat;
  

}

#nos .nos-insc {
  background: url(../images/escuela/inscripcion.png) left top no-repeat;
  width: auto;
  height: auto;
  margin-left: 100px;
}

#nos .nos-content {
  background: #fff;
  
}

#nos .nos-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
  padding: 1em;
}

#nos .nos-text {
  line-height: 26px;
  padding: 1em;
}

#nos .nos-text:last-child {
  margin-bottom: 0;
}

/* insc */
#insc {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/escuela/baner16.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#insc .insc-item {
  margin-bottom: 20px;
}

#insc .insc-icon {
  float: left;
  background: #4572b6;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #4572b6;
}

#insc .insc-icon i {
  color: #fff;
  font-size: 24px;
}

#insc .insc-item:hover .insc-icon {
  background: #fff;
}

#insc .insc-item:hover .insc-icon i {
  color: #4572b6;
}

#insc .insc-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#insc .insc-title a {
  color: #111;
}

#insc .insc-description {
  margin-left: 80px;
  line-height: 24px;
}

#insc2 {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/escuela/inscripcionbis.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#insc2 .insc2-item {
  margin-bottom: 20px;
}

#insc2 .insc2-icon {
  float: left;
  background: #4572b6;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #4572b6;
}

#insc2 .insc2-icon i {
  color: #fff;
  font-size: 24px;
}

#insc2 .insc2-item:hover .insc2-icon {
  background: #fff;
}

#insc2 .insc2-item:hover .insc2-icon i {
  color: #4572b6;
}

#insc2 .insc2-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#insc2 .insc2-title a {
  color: #111;
}

#insc2 .insc2-description {
  margin-left: 80px;
  line-height: 24px;
}

#insc3 {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/idioma/idioma.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#insc3 .insc3-item {
  margin-bottom: 20px;
}

#insc3 .insc3-icon {
  float: left;
  background: #4572b6;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #4572b6;
}

#insc3 .insc3-icon i {
  color: #fff;
  font-size: 24px;
}

#insc3 .insc3-item:hover .insc3-icon {
  background: #fff;
}

#insc3 .insc3-item:hover .insc3-icon i {
  color: #4572b6;
}

#insc3 .insc3-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#insc3 .insc3-title a {
  color: #111;
}

#insc3 .insc3-description {
  margin-left: 80px;
  line-height: 24px;
}




#gal {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/taller/guttirec2.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#gal .gal-item {
  margin-bottom: 20px;
}

#gal .gal-icon {
  float: left;
  background: #4572b6;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #4572b6;
}

#gal .gal-icon i {
  color: #fff;
  font-size: 24px;
}

#gal .gal-item:hover .gal-icon {
  background: #fff;
}

#gal .gal-item:hover .gal-icon i {
  color: #4572b6;
}

#gal .gal-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#gal .gal-title a {
  color: #111;
}

#gal .gal-description {
  margin-left: 80px;
  line-height: 24px;
}
/* Subscribe*/
#subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/escuela/baner16.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#subscribe .subscribe-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#subscribe .subscribe-text {
  color: #fff;
}

#subscribe .subscribe-btn-container {
  text-align: center;
  padding-top: 20px;
}

#subscribe .subscribe-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#subscribe .subscribe-btn:hover {
  background: #4572b6;
  border: 2px solid #4572b6;
}
/* Subscribe*/
#subscribe2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/idioma/idioma.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#subscribe2 .subscribe2-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#subscribe2 .subscribe2-text {
  color: #fff;
}

#subscribe2 .subscribe2-btn-container {
  text-align: center;
  padding-top: 20px;
}

#subscribe2 .subscribe2-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#subscribe2 .subscribe2-btn:hover {
  background: #4572b6;
  border: 2px solid #4572b6;
}

/* propuesta academica*/
#propuesta {
  background: #fff;
  padding: 80px 0;
}

#propuesta .prop-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
}

#propuesta .prop-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#propuesta .prop-item .details h4 {
  font-size: 16px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333;
}

#propuesta .prop-item .details span {
  display: block;
  color: #666666;
  font-size: 13px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

#propuesta .prop-item:hover .details {
  opacity: 0.8;
}

#propuesta .prop-item:hover .details h4 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#propuesta .prop-item:hover .details span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}



/* actividades*/
#act {
  background: #fff;
  padding: 80px 0 60px 0;
    
}

#act .member {
  text-align: center;
  margin-bottom: 20px;
}

#act .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
}

#act .member .pic img {
  max-width: 100%;
}

#act .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}

#act .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#act .member .social {
  margin-top: 15px;
}

#act .member .social a {
  color: #b3b3b3;
}

#act .member .social a:hover {
  color: #4572b6;
}

#act .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contacto {
  background: #f7f7f7;
  padding: 80px 0;
}

#contacto .info {
  color: #333333;
}

#contacto .info i {
  font-size: 32px;
  color: #4572b6;
  float: left;
}

#contacto .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contacto .form #sendmessage {
  color: #4572b6;
  border: 1px solid #4572b6;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contacto .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contacto .form #sendmessage.show, #contacto .form #errormessage.show, #contacto .form .show {
  display: block;
}

#contacto .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contacto .form input, #contacto .form textarea {
  border-radius: 0;
  box-shadow: none;
}

#contacto .form button[type="submit"] {
  background: #4572b6;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contacto .form button[type="submit"]:hover {
  background: #7298FE;
}

/*footer*/
#footer {
  background: rgba(0, 0, 20, 0.85);
  padding: 30px 0;
  color: #fff;
}

#footer .licencia {
  text-align: center;
}

#footer .creditos {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.container_2 a:hover, a:active, a:focus {
  color: rgb(60, 138, 255);
  outline: none;
  text-decoration: none;
}

.ultimo + div{
  visibility: hidden;
 }